project:
  type: website
  output-dir: docs

website:
  title: "Francesco Mussin"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: projects.qmd
        text: Projects
      - href: personal_notes.qmd
        text: Notes
      - href: Transcriptions/index.qmd
        text: Transcriptions
       
format:
  html:
    theme: sandstone
    css: styles.css
    toc: true



